<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Top</title>
  <link rel='stylesheet' href='/css/style.css' />
  <%- include('menu/head') %>
</head>
<body>
  <div class="s-content">
    <%- include('partial/header') %>
    <h1>Top</h1>
    <p>Welcome to Top</p>
    <hr>
    <footer style="text-align:right;margin:0.5em;"><a href="https://jsx.jp" target="_blank">powered by jsx.jp</a></footer>
  </div>
  <%- include('menu/body') %>
</body>
</html>
